<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 1:  Standardized Test Analysis

# Part 1 - Prep
---

## To-Do List

#### <span style="color:green">1 **[ X ]** Research and Initial Data Exploration

#### <span style="color:orange">2 **[  ]** Refine Problem Statement

#### <span style="color:orange">3 **[  ]** Add Additional Background Info and Outside Research

#### <span style="color:green"> 4 **[ X ]** Select Data

#### <span style="color:orange">5 **[   ]** Outside Research - Collect and Catalog

#### <span style="color:green"> 6 **[ X ]** Create Functions

#### <span style="color:green">7 **[ X ]** Import and Clean Data

#### <span style="color:red">8 **[ ]** Create Data Dictionary

#### <span style="color:red">9 **[  ]** Create Visualizations

#### <span style="color:red">10 **[  ]** Write conclusions and recommendations

#### <span style="color:red">11 **[  ]** Create README.md 
Include problem statement, data dictionary, brief summary of your analysis, conclusions / recommendations, and citations

#### <span style="color:red">12 **[  ]** Create Short Presentation for Friday

## Contents

**Part 1**
- [Problem Statement](#Problem-Statement)
- [Background](#Background)
- [Custom Functions](#-Custom-Functions)

**Part 2**
- [Library Imports](#Library-Imports)
- [Data Import & Cleaning](#Data-Import-and-Cleaning)
- [Exploratory Data Analysis](#Exploratory-Data-Analysis)
- [Data Visualization](#Visualize-the-Data)
- [Conclusions and Recommendations](#Conclusions-and-Recommendations)

## <span style="color:orange"> Problem Statement</span>

High School students across the country take the SAT, the ACT, or both as they prepare for their lives after graduation. I want to look at the relationship between average scores and participation rates by state to find correlations and understand the data.

## <span style="color:orange">Background</span>

The SAT and ACT are standardized tests that many colleges and universities in the United States require for their admissions process. This score is used along with other materials such as grade point average (GPA) and essay responses to determine whether or not a potential student will be accepted to the university.

The SAT has two sections of the test: Evidence-Based Reading and Writing and Math ([*source*](https://www.princetonreview.com/college/sat-sections)). The ACT has 4 sections: English, Mathematics, Reading, and Science, with an additional optional writing section ([*source*](https://www.act.org/content/act/en/products-and-services/the-act/scores/understanding-your-scores.html)). They have different score ranges, which you can read more about on their websites or additional outside sources (a quick Google search will help you understand the scores for each test):
* [SAT](https://collegereadiness.collegeboard.org/sat)
* [ACT](https://www.act.org/content/act/en.html)

Standardized tests have long been a controversial topic for students, administrators, and legislators. Since the 1940's, an increasing number of colleges have been using scores from sudents' performances on tests like the SAT and the ACT as a measure for college readiness and aptitude ([*source*](https://www.minotdailynews.com/news/local-news/2017/04/a-brief-history-of-the-sat-and-act/)). Supporters of these tests argue that these scores can be used as an objective measure to determine college admittance. Opponents of these tests claim that these tests are not accurate measures of students potential or ability and serve as an inequitable barrier to entry. Lately, more and more schools are opting to drop the SAT/ACT requirement for their Fall 2021 applications ([*read more about this here*](https://www.cnn.com/2020/04/14/us/coronavirus-colleges-sat-act-test-trnd/index.html)).

<span style="color:red">**To-Do:**</span>  
*Fill out this cell (or edit the above cell) with any other background or information that is necessary for your problem statement.*

## <span style="color:teal"> Data </span>

I've chosen to work with the 7 datasets below in order to compare participation rates and overall average test scores for each State. 

The last dataset contains 2 letter state codes and regional information from the US Census Bureau that will allow me to organize states according to their geographical regions.

**ACT scores and participation by state:**
    
> [`act_2017.csv`](./data/act_2017.csv)  
> [`sat_2017.csv`](./data/sat_2017.csv)  
> [`act_2018.csv`](./data/act_2018.csv)  

**SAT scores and participation by state:**
> [`sat_2018.csv`](./data/sat_2018.csv)  
> [`act_2019.csv`](./data/act_2019.csv)  
> [`sat_2019.csv`](./data/sat_2019.csv)  

**State regional designations used by the US Census Bureau:**
> [`census_regions.csv`](./data/census_regions.csv)
>
> Source: [GitHub user Chris Halpert (cphalpert)](https://github.com/cphalpert/census-regions/blob/master/us%20census%20bureau%20regions%20and%20divisions.csv)  
Chris sited his source, a file in cenus.gov's document library: [reg_div.txt](https://www2.census.gov/geo/docs/maps-data/maps/reg_div.txt)  
I found corroboration from another census.gov document ([all-geocodes-v2016.xlsx](https://https://www2.census.gov/programs-surveys/popest/geographies/2016/all-geocodes-v2016.xlsx)) and on NOAA.gov ([U.S. Census Divisions](https://www.ncdc.noaa.gov/monitoring-references/maps/us-census-divisions.php))

### Imports and assignments

In [1]:
import pandas as pd

# Source dataframes for quick reference later on if needed

act_17_source = pd.read_csv('data/act_2017.csv')
act_18_source = pd.read_csv('data/act_2018.csv')
act_19_source = pd.read_csv('data/act_2019.csv')
sat_17_source = pd.read_csv('data/sat_2017.csv')
sat_18_source = pd.read_csv('data/sat_2018.csv')
sat_19_source = pd.read_csv('data/sat_2019.csv')
states_source = pd.read_csv('data/census_regions.csv')

dfs_source = {'ACT 2017': act_17_source, 
       'ACT 2018': act_18_source, 
       'ACT 2019': act_19_source,
       'SAT 2017': sat_17_source,
       'SAT 2018': sat_18_source,
       'SAT 2019': sat_19_source,
       'States Info': states_source,
      }

In [2]:
# Working dataframes for cleaning, processing, and analysis

act_17 = pd.read_csv('data/act_2017.csv')
act_18 = pd.read_csv('data/act_2018.csv')
act_19 = pd.read_csv('data/act_2019.csv')
sat_17 = pd.read_csv('data/sat_2017.csv')
sat_18 = pd.read_csv('data/sat_2018.csv')
sat_19 = pd.read_csv('data/sat_2019.csv')
states = pd.read_csv('data/census_regions.csv')

dfs = {'ACT 2017': act_17, 
       'ACT 2018': act_18, 
       'ACT 2019': act_19,
       'SAT 2017': sat_17,
       'SAT 2018': sat_18,
       'SAT 2019': sat_19,
       'States Info': states,
      }

## <span style="color:red">Outside Research</span>

Based on your problem statement and your chosen datasets, spend some time doing outside research on state policies or additional information that might be relevant. Summarize your findings below. If you bring in any outside tables or charts, make sure you are explicit about having borrowed them. If you quote any text, make sure that it renders as being quoted. **Make sure that you cite your sources.**

<span style="color:red">**To-Do:**</span>  
*Fill out this cell with outside research or any additional background information that will support your analysis.*

## <span style="color:teal"> Custom Functions</span>

**Mean Function**

In [3]:
def find_mean(numbers):
    return sum(numbers)/len(numbers)

In [4]:
# test_list0 = [5, 6, 7]
# test_list1 = [1, 2, 3, 4, 5, 6, 7 ,8 , 9]
# test_list2 = [73, 40, 53, 90, 57, 3, 5]

# print(f'test_list0: {find_mean(test_list0)}')
# print(f'test_list1: {find_mean(test_list1)}')
# print(f'test_list2: {find_mean(test_list2)}')

---

**Standard Deviation Function**

 $\sigma = \sqrt{\frac{1}{n}\sum_{i=1}^n(x_i - \mu)^2}$$

In [5]:
def find_stdv(data):
    avg = find_mean(data)
    n = len(data)
    t = 0
    
    for i in data:
        t += ((i - avg) ** 2)
    
    return ((t/(n-1)) ** .5)

In [6]:
# test_list0 = [5, 6, 7]                                #I tested these against
# test_list1 = [1, 2, 3, 4, 5, 6, 7 ,8 , 9]
# test_list2 = [73, 40, 53, 90, 57, 3, 5]

# print(f'test_list0: {find_stdv(test_list0)}')            
# print(f'test_list1: {find_stdv(test_list1)}')
# print(f'test_list2: {find_stdv(test_list2)}')

---

**Data Cleaning Function**

In [7]:
def percent_to_float(percent):
    number = percent[:-1]
    temp = float(number)
    return temp / 100

In [8]:
# print(f"test1: {percent_to_float('50%')}")
# print(f"test1: {percent_to_float('30.5%')}")
# print(f"test2: {percent_to_float('41.2671%')}")

---

**Miscellaneous Code**

For table formatting in markdown cells:

In [9]:
%%html
<style> 
table {align:left;display:block}      # setting markdown tables to align left rather than center on the page

</style>

For simultaneously displaying multiple data frames with Pandas' table formatting:

In [10]:
from IPython.core import display as ICD           # See citation below

In [11]:
# for returning a single dataframe preview with a formatted caption above to serve as a table title 

def titled_df(dataframe, title):
    return ICD.display(dataframe.head().style.set_caption(title).set_table_styles([{
            'selector': 'caption',
            'props': [('color', 'black'), ('font-size', '14px'), ('weight', 'bold')]}]))

In [12]:
# for returning multiple dataframe previews with titles    

def df_previews(dataframe_dict):                     # Assuming dictionary input where:
    tables = []                                      # key = title_string   and   value = dataframe object
    for key, df in dataframe_dict.items():           # loops through dicitonary
        tables.append(titled_df(df, key));           # appends titled tables to list
            
    return tables                                    # returns list of tables

HUGE thanks to Amanda Khairunnisa for help figuring out these formulas!

We found code and the necessary package in these threads:  
https://stackoverflow.com/questions/59535426/can-you-change-the-caption-font-size-using-pandas-styling  
https://stackoverflow.com/questions/58864672/how-can-i-set-the-font-of-the-caption-of-a-pandas-datafrane

For quickly displaying `.info()` for all 7 dataframes simultaneously:

In [13]:
def df_infos(dataframe_dict):                  
     for key, df in dataframe_dict.items():
            print(key)
            print(df.info())
            print()
            print()

# Part 2 - Analysis

---

## Imports

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.core import display as ICD    # see [Custom Functions > 4. Misc Code] for purpose and citation 

# Data imports handled in [Part 1 > Data] section above

## <span style="color:teal">Data Cleaning</span>

### Dataframe Previews

In [15]:
df_previews(dfs_source);     # used a few custom functions and [dataframe].head() to return these

### Initial Dataframe Survey

I went through each dataframe using `.isnull()` and `.sum()` commands to identify the presence of nulls or otherwise missing data.

| ACT Dataframes | Values | | | | SAT Dataframes | Values | | | | Other Dataframes | Values |
| :-- | :-- | --- | --- | --- | :-- | :-- | --- | --- | --- | :-- | :-- |
| **ACT 2017** |  52 non-nulls in all columns  | |  | |**SAT 2017** | 51 non-nulls in all columns  |  | | | **States** | 51 non-nulls in all columns |
| **ACT 2018** |  52 non-nulls in all columns  | |  | |**SAT 2018** | 51 non-nulls in all columns  |
| **ACT 2019** |  52 non-nulls in all columns  | |  | |**SAT 2019** | 53 non-nulls in all columns  |

**Takeaways:**  
No null values to fix, but there was some variance in the numbers of rows in each table. All tables should have an equal number of rows: 51 for all states and Washington D.C.

<!-- | ACT Dataframes | Values |
| :-- | :-- |
| **act_17** |  52 non-nulls in all columns  |
| **act_18** |  52 non-nulls in all columns  |
| **act_19** |  52 non-nulls in all columns  |

| SAT Dataframes | Values |
| :-- | :-- |
| **sat_17** | 51 non-nulls in all columns  |
| **sat_18** | 51 non-nulls in all columns  |
| **sat_19** | 53 non-nulls in all columns  |

| States Dataframe | Values |
| :-- | :-- |
| **states** | 51 non-nulls in all columns | -->


---

In [16]:
# print("\n ACT 2017 \n", act_17.isnull().sum())       
# print("\n ACT 2018 \n", act_18.isnull().sum())       
# print("\n ACT 2019 \n", act_19.isnull().sum())        
# print("\n SAT 2017 \n", sat_17.isnull().sum())     
# print("\n SAT 2018 \n", sat_18.isnull().sum())       
# print("\n SAT 2019 \n", sat_19.isnull().sum())      
# print("\n States Info \n", states.isnull().sum())

9. Merge dataframes that can be merged.
11. Save your cleaned and merged dataframes as csv files.

### Cleaning Overview

Looking further into the contents of each table, there were a number of issues and several changes I wanted to make to simplify the Dataframes.

I used `.dtypes`, `.sort()`, `.info()` <span style="color:red">[FINISH NOTES HERE]</span>

**1. Column Removal**

| |    |
| :-- | :-- |
| ACT 2017 |  `English`, `Math`, `Reading`, `Science` not needed |
| SAT 2017 |  `Evidence-Based Reading and Writing`, `Math` not needed |
| SAT 2018 |   `Evidence-Based Reading and Writing`, `Math` not needed|
| SAT 2019 |   `EBRW`, `Math` not needed |

**2. Row Removal**

| |   |
| :-- | :-- |
| ACT 2017 |  `National` not needed |
| ACT 2018 |  `Maine` has a duplicate row - only one needed |	
| ACT 2019 |  `National` not needed |
| SAT 2019 |  `Puerto Rico` and and `Virgin Islands` not needed. Participation rates contain em dashes and no data exists from other years |

**3. Strings**

|  |   |
| :-- | :-- |
| ACT 2017 | "20.2x" in Row: `Wyoming`, Column: `Composite` contains extra character |
| ACT 2018 | In the <span style="color:firebrick">string</span> “District of columbia”, "columbia" needs capitalized|

**4. Data Types**

|  |  |  |
| :-- | --- | :-- |
| All dataframes | | Convert `Participation` (or `Participation Rate`) data type from <span style="color:firebrick">String</span> to<span style="color:steelblue"> Float</span>     |
| ACT 2017 | | Convert `Composite` data types from <span style="color:firebrick">String</span> to<span style="color:steelblue"> Float</span> |

---

### 1. Column Removal

In [17]:
for title, dataframe in dfs.items():         # dfs is the dictionary with all of my working dataframes
        try:
            dataframe.drop(columns = ['English', 'Math', 'Reading', 'Science'], inplace = True)
        except:
            pass
        try:
            dataframe.drop(columns = ['EBRW', 'Math'], inplace = True)
        except:
            pass
        try:
            dataframe.drop(columns = ['Evidence-Based Reading and Writing', 'Math'], inplace = True)
        except:
            pass

I decided to start with Column removal, looping through my dictionary of dataframes to delete them all at once.

I used `try` and `except` so that any dataframes without the specified names would be passed over without an issue.

---

### 2. Row Removal

In order to avoid errors in future operations like datatype conversion, I decided to remove rows next.

In [18]:
act_17 = act_17[act_17["State"] != "National"] 
act_19 = act_19[act_19["State"] != "National"]
sat_19 = sat_19[(sat_19["State"] != "Puerto Rico") & (sat_19["State"] != "Virgin Islands")]

I removed the rows above by simply assigning a filtered dataframe (excluding the rows I wanted to remove) to a dataframe of the same name.

In [19]:
act_18[act_18["State"] == "Maine"]       # Filtered for the 2 'Maine' rows to find indices: 19 and 20 

act_18.drop(index = 19, inplace = True)  # Used .drop() with a specified index (19)
                                         
# act_18                                   # and then verified that only 1 row remained for Maine

The strategy I used for the three data frames wasn't going to work for the duplicate "Maine" row in the act_18 dataframe. So instead, I identified the index numbers for those two rows and removed one of them using its index.

---

<span style="color:lightslategray"> 
<b>Resetting Indices After Row Removal</b> <br>
After removing the rows, I checked my data frames and noticed the index numbers from the now-removed rows were missing. The indexing didn't update automatically, so I went online and found syntax for resetting the index of a data frame back to its correct sequencing.
</span>

In [20]:
act_17.index = range(0,len(act_17))      # Reindexed after removing 'National' row
act_18.index = range(0,len(act_19))      # Reindexed after removing 'Maine' row
act_19.index = range(0,len(act_19))      # Reindexed after removing 'National' row
sat_19.index = range(0,len(sat_19))      # Reindexed after removing 'Puerto Rico' and 'Virgin Islands' rows

# found the syntax for the .index   
# https://stackoverflow.com/questions/52484958/after-removal-of-a-row-in-a-dataframe-in-pandas-how-to-handle-the-missing-index

<span style="color:lightslategray"> 
<b>Dictionary Update</b> <br>
Because I used a dictionary as a way to iterate through my data for fixes, I found that I needed to update the dictionary with the corrected dataframes. The dictionary had stored some things from the old dataframe objects in memory, but was directly referencing the updated dateframe objects for others. For example, the dictionary reflected the removed rows and columns, but when I ran my <b>df_infos()</b> function (which returned <b>.info()</b> for all 7 data frames at the same time via the dictionary), the counts of "non-null" values hadn't changed. So I updated the dictionary here: 
</span>

In [21]:
dfs = {'ACT 2017': act_17, 
       'ACT 2018': act_18, 
       'ACT 2019': act_19,
       'SAT 2017': sat_17,
       'SAT 2018': sat_18,
       'SAT 2019': sat_19,
       'States Info': states,
      }

---

### 3. Strings

The last thing to do before data conversion is to make two quick fixes to individual values.

In [22]:
# act_18
# ROW: 'District of columbia'(8), COLUMN: 'State'(0) 

act_18.iloc[8,0] = 'District of Columbia'

The first fix was a quick one, just a simple string variable assignment with .iloc after finding the row index to combine with the column number.

In [23]:
# act_17
# ROW: 'Wyoming'(50), COLUMN: 'Composite'(2) 
# “20.2x”

act_17.iloc[50,2] = float(act_17.iloc[50,2][:-1])

Second, I fixed the string value in the `Composite` column of the ACT 2017 dataframe. Due to the inclusion of the letter "x", a value that should be a float was a string. Using `.iloc`, I removed the "x" and converted "20.2" to a float.

### 4. Data Type Conversions

Now that the data types of the columns are all consistent, I can run conversions without throwing data type exceptions.

In [24]:
for title, df in dfs.items():
    try:
        df['Participation'] = df['Participation'].map(lambda x: percent_to_float(x))
    except:
        pass

Since I haven't renamed my columns yet, I was able to use my "dfs" dictionary again. I looped through all of the `Participation` columns and used the `percent_to_float` conversion function I built in Part 1.

In [25]:
sat_19['Participation Rate'] = sat_19['Participation Rate'].map(lambda x: percent_to_float(x))

The `Participation Rate` column in the SAT 2019 dataframe didn't get caught by my loop since it hasn't been renamed yet, so I dealt with it separately. If I changed the name prior to running the loop above, I'd just have to change the name again shortly after.

In [26]:
act_17['Composite'] = act_17['Composite'].astype(float)

And after fixing the "20.2x" value above, I was able to convert the `Composite` column in the ACT 2017 dataframe to float.

In [27]:
dfs = {'ACT 2017': act_17, 
       'ACT 2018': act_18, 
       'ACT 2019': act_19,
       'SAT 2017': sat_17,
       'SAT 2018': sat_18,
       'SAT 2019': sat_19,
       'States Info': states,
      }

Ran another dictionary update before moving on just to avoid any potential mistakes down the line.

### Column Renaming

**Testing Data - Common Column Name (State)**

In [28]:
for title, df in dfs.items():
    try:
        df.rename(columns={'State': 'state'}, inplace=True)
    except:
        pass


**Unique Column Names**

In [29]:
act_17.rename(columns={
            'Participation': 'act_17_part',
            'Composite': 'act_17_score',
        }, inplace=True)

act_18.rename(columns={
            'Participation': 'act_18_part',
            'Composite': 'act_18_score',
        }, inplace=True)

act_19.rename(columns={
            'Participation': 'act_19_part',
            'Composite': 'act_19_score',
        }, inplace=True)

sat_17.rename(columns={
            'Participation': 'sat_17_part',
            'Total': 'sat_17_score',
        }, inplace=True)

sat_18.rename(columns={
            'Participation': 'sat_18_part',
            'Total': 'sat_18_score',
        }, inplace=True)

sat_19.rename(columns={
            'Participation Rate': 'sat_19_part',
            'Total': 'sat_19_score',
        }, inplace=True)

**States Dataframe**

In [30]:
states.rename(columns={
            'State Code': 'code',
            'Region': 'region',
            'Division': 'division'
        }, inplace=True)

I couldn't easily use my `dfs` dictionary to rename the columns simultaneously because I ultimately wanted to merge my tables into one. Which meant I needed to make all column names unique.

### Sorting and Re-indexing

**For States Table**

In [31]:
for title, dataframe in dfs.items():
        dataframe.sort_values('state', inplace=True)       # Sort by state column and save over dataframe 
        dataframe.index = range(0,len(df))               # Create a new range from 0-max and set that as the row index

In [ ]:
# Set state names as index for all tables
for title, dataframe in dfs.items():
        dataframe.set_index('state', inplace = True)

## Return state names to column 0 and number range becomes index        
# for title, dataframe in dfs.items():        
#         dataframe.reset_index(inplace = True)

In [82]:
merge_dataframes = [states, act_17, act_18, act_19, sat_17, sat_18, sat_19]

pd.concat(merge_dataframes,axis=1,join="outer")

                     code     region            division  act_17_part  \
state
Alabama                AL      South  East South Central         1.00
Alaska                 AK       West             Pacific         0.65
Arizona                AZ       West            Mountain         0.62
Arkansas               AR      South  West South Central         1.00
California             CA       West             Pacific         0.31
Colorado               CO       West            Mountain         1.00
Connecticut            CT  Northeast         New England         0.31
Delaware               DE      South      South Atlantic         0.18
District of Columbia   DC      South      South Atlantic         0.32
Florida                FL      South      South Atlantic         0.73
Georgia                GA      South      South Atlantic         0.55
Hawaii                 HI       West             Pacific         0.90
Idaho                  ID       West            Mountain         0.38
Illinois               IL    Midwest  East North Central         0.93
Indiana                IN    Midwest  East North Central         0.35
Iowa                   IA    Midwest  West North Central         0.67
Kansas                 KS    Midwest  West North Central         0.73
Kentucky               KY      South  East South Central         1.00
Louisiana              LA      South  West South Central         1.00
Maine                  ME  Northeast         New England         0.08
Maryland               MD      South      South Atlantic         0.28
Massachusetts          MA  Northeast         New England         0.29
Michigan               MI    Midwest  East North Central         0.29
Minnesota              MN    Midwest  West North Central         1.00
Mississippi            MS      South  East South Central         1.00
Missouri               MO    Midwest  West North Central         1.00
Montana                MT       West            Mountain         1.00
Nebraska               NE    Midwest  West North Central         0.84
Nevada                 NV       West            Mountain         1.00
New Hampshire          NH  Northeast         New England         0.18
New Jersey             NJ  Northeast     Middle Atlantic         0.34
New Mexico             NM       West            Mountain         0.66
New York               NY  Northeast     Middle Atlantic         0.31
North Carolina         NC      South      South Atlantic         1.00
North Dakota           ND    Midwest  West North Central         0.98
Ohio                   OH    Midwest  East North Central         0.75
Oklahoma               OK      South  West South Central         1.00
Oregon                 OR       West             Pacific         0.40
Pennsylvania           PA  Northeast     Middle Atlantic         0.23
Rhode Island           RI  Northeast         New England         0.21
South Carolina         SC      South      South Atlantic         1.00
South Dakota           SD    Midwest  West North Central         0.80
Tennessee              TN      South  East South Central         1.00
Texas                  TX      South  West South Central         0.45
Utah                   UT       West            Mountain         1.00
Vermont                VT  Northeast         New England         0.29
Virginia               VA      South      South Atlantic         0.29
Washington             WA       West             Pacific         0.29
West Virginia          WV      South      South Atlantic         0.69
Wisconsin              WI    Midwest  East North Central         1.00
Wyoming                WY       West            Mountain         1.00

                      act_17_score  act_18_part  act_18_score  act_19_part  \
state
Alabama                       19.2         1.00          19.1         1.00
Alaska                        19.8         0.33          20.8         0.38
Arizona                       19.7         0.66          19.2         0.73
Arkansas                      19.4         1.00          19.4         1.00
California                    22.8         0.27          22.7         0.23
Colorado                      20.8         0.30          23.9         0.27
Connecticut                   25.2         0.26          25.6         0.22
Delaware                      24.1         0.17          23.8         0.13
District of Columbia          24.2         0.32          23.6         0.32
Florida                       19.8         0.66          19.9         0.54
Georgia                       21.4         0.53          21.4         0.49
Hawaii                        19.0         0.89          18.9         0.80
Idaho                         22.3         0.36          22.3         0.31
Illinois                      21.4         0.43          23.9         0.35
Indiana                       22.6         0.32          22.5         0.29
Iowa                          21.9         0.68          21.8         0.66
Kansas                        21.7         0.71          21.6         0.72
Kentucky                      20.0         1.00          20.2         1.00
Louisiana                     19.5         1.00          19.2         1.00
Maine                         24.3         0.07          24.0         0.06
Maryland                      23.6         0.31          22.5         0.28
Massachusetts                 25.4         0.25          25.5         0.21
Michigan                      24.1         0.22          24.2         0.19
Minnesota                     21.5         0.99          21.3         0.95
Mississippi                   18.6         1.00          18.6         1.00
Missouri                      20.4         1.00          20.0         0.82
Montana                       20.3         1.00          20.0         1.00
Nebraska                      21.4         1.00          20.1         1.00
Nevada                        17.8         1.00          17.7         1.00
New Hampshire                 25.5         0.16          25.1         0.14
New Jersey                    23.9         0.31          23.7         0.25
New Mexico                    19.7         0.67          19.4         0.63
New York                      24.2         0.27          24.5         0.22
North Carolina                19.1         1.00          19.1         1.00
North Dakota                  20.3         0.98          20.3         0.96
Ohio                          22.0         1.00          20.3         1.00
Oklahoma                      19.4         1.00          19.3         1.00
Oregon                        21.8         0.42          21.3         0.42
Pennsylvania                  23.7         0.20          23.5         0.17
Rhode Island                  24.0         0.15          24.2         0.12
South Carolina                18.7         1.00          18.3         0.78
South Dakota                  21.8         0.77          21.9         0.75
Tennessee                     19.8         1.00          19.6         1.00
Texas                         20.7         0.45          20.7         0.39
Utah                          20.3         1.00          20.4         1.00
Vermont                       23.6         0.24          24.1         0.20
Virginia                      23.8         0.24          23.9         0.21
Washington                    21.9         0.24          22.2         0.24
West Virginia                 20.4         0.65          20.3         0.49
Wisconsin                     20.5         1.00          20.5         1.00
Wyoming                       20.2         1.00          20.0         1.00

                      act_19_score  sat_17_part  sat_17_score  sat_18_part  \
state
Alabama                       18.9         0.05          1165         0.06
Alaska                        20.1         0.38          1080         0.43
Arizona                       19.0         0.30          1116         0.29
Arkansas                      19.3         0.03          1208         0.05
California                    22.6         0.53          1055         0.60
Colorado                      23.8         0.11          1201         1.00
Connecticut                   25.5         1.00          1041         1.00
Delaware                      24.1         1.00           996         1.00
District of Columbia          23.5         1.00           950         0.92
Florida                       20.1         0.83          1017         0.56
Georgia                       21.4         0.61          1050         0.70
Hawaii                        19.0         0.55          1085         0.56
Idaho                         22.5         0.93          1005         1.00
Illinois                      24.3         0.09          1115         0.99
Indiana                       22.5         0.63          1074         0.63
Iowa                          21.6         0.02          1275         0.03
Kansas                        21.2         0.04          1260         0.04
Kentucky                      19.8         0.04          1247         0.04
Louisiana                     18.8         0.04          1198         0.04
Maine                         24.3         0.95          1012         0.99
Maryland                      22.3         0.69          1060         0.76
Massachusetts                 25.5         0.76          1107         0.80
Michigan                      24.4         1.00          1005         1.00
Minnesota                     21.4         0.

## Merging and Exporting Composite Dataframes

In [34]:
# MASKING

# act_17['act_17_part'] == 1           # Produces a vector of Booleans based on the conditions, 
# act_17[act_17['act_17_part'] == 1]   # which is used as a filter to then display a dataframe
#                                      # with only True values

## <span style="color:red">Data Dictionary

Now that we've fixed our data, and given it appropriate names, let's create a [data dictionary](http://library.ucmerced.edu/node/10249). 

A data dictionary provides a quick overview of features/variables/columns, alongside data types and descriptions. The more descriptive you can be, the more useful this document is.

Example of a Fictional Data Dictionary Entry: 

|Feature|Type|Dataset|Description|
|---|---|---|---|
|**county_pop**|*integer*|2010 census|The population of the county (units in thousands, where 2.5 represents 2500 people).| 
|**per_poverty**|*float*|2010 census|The percent of the county over the age of 18 living below the 200% of official US poverty rate (units percent to two decimal places 98.10 means 98.1%)|

[Here's a quick link to a short guide for formatting markdown in Jupyter notebooks](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html).

Provided is the skeleton for formatting a markdown table, with columns headers that will help you create a data dictionary to quickly summarize your data, as well as some examples. **This would be a great thing to copy and paste into your custom README for this project.**

*Note*: if you are unsure of what a feature is, check the source of the data! This can be found in the README.

<span style="color:red">**To-Do:**</span> *Edit the table below to create your own data dictionary for the datasets you chose.*

|Feature|Type|Dataset|Description|
|---|---|---|---|
|column name|int/float/object|ACT/SAT|This is an example|

## <span style="color:red">Exploratory Data Analysis </span>

Complete the following steps to explore your data. You are welcome to do more EDA than the steps outlined here as you feel necessary:
1. Summary Statistics.
2. Use a **dictionary comprehension** to apply the standard deviation function you create in part 1 to each numeric column in the dataframe.  **No loops**.
    - Assign the output to variable `sd` as a dictionary where: 
        - Each column name is now a key 
        - That standard deviation of the column is the value 
        - *Example Output :* `{'ACT_Math': 120, 'ACT_Reading': 120, ...}`
3. Investigate trends in the data.
    - Using sorting and/or masking (along with the `.head()` method to avoid printing our entire dataframe), consider questions relevant to your problem statement. Some examples are provided below (but feel free to change these questions for your specific problem):
        - Which states have the highest and lowest participation rates for the 2017, 2019, or 2019 SAT and ACT?
        - Which states have the highest and lowest mean total/composite scores for the 2017, 2019, or 2019 SAT and ACT?
        - Do any states with 100% participation on a given test have a rate change year-to-year?
        - Do any states show have >50% participation on *both* tests each year?
        - Which colleges have the highest median SAT and ACT scores for admittance?
        - Which California school districts have the highest and lowest mean test scores?
    - **You should comment on your findings at each step in a markdown cell below your code block**. Make sure you include at least one example of sorting your dataframe by a column, and one example of using boolean filtering (i.e., masking) to select a subset of the dataframe.

In [35]:
#Code:

[Analysis]

In [36]:
#Code:

[Analysis]

In [37]:
#Code:

[Analysis]

In [38]:
#Code:

[Analysis]

In [39]:
#Code:

[Analysis]

## <span style="color:red">Visualize the Data

There's not a magic bullet recommendation for the right number of plots to understand a given dataset, but visualizing your data is *always* a good idea. Not only does it allow you to quickly convey your findings (even if you have a non-technical audience), it will often reveal trends in your data that escaped you when you were looking only at numbers. It is important to not only create visualizations, but to **interpret your visualizations** as well.

**Every plot should**:
- Have a title
- Have axis labels
- Have appropriate tick labels
- Text is legible in a plot
- Plots demonstrate meaningful and valid relationships
- Have an interpretation to aid understanding

Here is an example of what your plots should look like following the above guidelines. Note that while the content of this example is unrelated, the principles of visualization hold:

![](https://snag.gy/hCBR1U.jpg)
*Interpretation: The above image shows that as we increase our spending on advertising, our sales numbers also tend to increase. There is a positive correlation between advertising spending and sales.*

---

Here are some prompts to get you started with visualizations. Feel free to add additional visualizations as you see fit:
1. Use Seaborn's heatmap with pandas `.corr()` to visualize correlations between all numeric features.
    - Heatmaps are generally not appropriate for presentations, and should often be excluded from reports as they can be visually overwhelming. **However**, they can be extremely useful in identify relationships of potential interest (as well as identifying potential collinearity before modeling).
    - Please take time to format your output, adding a title. Look through some of the additional arguments and options. (Axis labels aren't really necessary, as long as the title is informative).
2. Visualize distributions using histograms. If you have a lot, consider writing a custom function and use subplots.
    - *OPTIONAL*: Summarize the underlying distributions of your features (in words & statistics)
         - Be thorough in your verbal description of these distributions.
         - Be sure to back up these summaries with statistics.
         - We generally assume that data we sample from a population will be normally distributed. Do we observe this trend? Explain your answers for each distribution and how you think this will affect estimates made from these data.
3. Plot and interpret boxplots. 
    - Boxplots demonstrate central tendency and spread in variables. In a certain sense, these are somewhat redundant with histograms, but you may be better able to identify clear outliers or differences in IQR, etc.
    - Multiple values can be plotted to a single boxplot as long as they are of the same relative scale (meaning they have similar min/max values).
    - Each boxplot should:
        - Only include variables of a similar scale
        - Have clear labels for each variable
        - Have appropriate titles and labels
4. Plot and interpret scatter plots to view relationships between features. Feel free to write a custom function, and subplot if you'd like. Functions save both time and space.
    - Your plots should have:
        - Two clearly labeled axes
        - A proper title
        - Colors and symbols that are clear and unmistakable
5. Additional plots of your choosing.
    - Are there any additional trends or relationships you haven't explored? Was there something interesting you saw that you'd like to dive further into? It's likely that there are a few more plots you might want to generate to support your narrative and recommendations that you are building toward. **As always, make sure you're interpreting your plots as you go**.

In [40]:
# Code

[Analysis]

In [41]:
# Code

[Analysis]

In [42]:
# Code

[Analysis]

In [43]:
# Code

[Analysis]

## <span style="color:red">Conclusions and Recommendations

Based on your exploration of the data, what are you key takeaways and recommendations? Make sure to answer your question of interest or address your problem statement here.

<span style="color:red">**To-Do:**</span> *Edit this cell with your conclusions and recommendations.*

## Citations

**Category**  
Topic

**Category**  
Topic

**Category**  
Topic

**Category**  
Topic

**Category**  
Topic

**Markdown Formatting:**  
Adding Color: https://stackoverflow.com/questions/35465557/how-to-apply-color-in-markdown

**Category**  
Topic